h3{
    font-size:50px;
    margin: 1rem 3rem;

}

.profile{
    background-color: rgb(55, 65, 75);
    width:100%;
}

.edit{
    border-collapse:collapse
}

.edit form{
    font-size:3rem;
    display:flex;
    flex-direction: column;
}

.editOne{
    margin:0 2px;
    padding:10px;
}

.editOne label{
    display:block;
}

.profileImage{
    height: 400px;
    width: 400px;
}

.input{
    height: 30px;
    width: 320px;
    background-color: rgb(36, 43, 49);
    color: white;
    margin: 0;
    padding: 0;
    outline: none;
}

.selekt{
    background-color:rgb(36, 43, 49);
    height: 40px;
    width: 320px;
    color: white;
    font-size: 20px;
}

.selekt select{
    display: none;
}

.submitButton{
    height: 40px;
    width: 200px;
    background-color:rgb(36, 43, 49);
    color: white;
    font-size: 20px;
}

.submitButton:hover{
    background-color:rgb(20,145,25);
    color: black;
}